.container {
  background-color: pink;
  width: 400px;
  height: 300px;
  margin: auto;
  display: flex;
}
.container .main {
  background-color: skyblue;
  width: 380px;
  height: 280px;
  position: relative;
  top: 3%;
  margin: auto;
}
.container .main .pay {
  margin: auto;
  left: 110px;
  top: 100px;
  position: absolute;
}
.container .main #images {
  display: flex;
  justify-content: space-between;
  left: 40px;
  top: 180px;
  position: absolute;
}
.container .main .a {
  display: none;
}
.container .main .v {
  display: none;
}
.container .main .m {
  display: none;
}
